<form action="/square_root/results">
 <div> <label for="ape">Enter a number</label></div>

 <div><input id="ape" type="text" name="users_number" placeholder="What number do you want to square root?"></div>

 <div><button>Calculate square root</button></div>
</form>
